* {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

body {
    background-color: #fbfbfb;
}


/* #region 寻物详情 */

[class^="YitemDetails"] {
    width: 100%;
    margin-top: 110px;
    height: 420px;
}

[class^="YitemDetails"] .w,
[class^="YitemPicture"] .w {
    width: 70%;
}


/* h2.寻物详情  h2.发布信息  h2.图片 */

[class^="YitemDetails"] h2,
[class^="YreleaseInformation"] h2,
[class^="YitemPicture"] h2 {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 2em;
    border-bottom: 3px solid #797979;
}


/* #region 寻物详情   */


/* 物品 信息 */

[class^="YitemDetails"] .YdetailsOfItem {
    width: 60%;
    float: left;
    box-sizing: border-box;
    padding: 20px 30px;
}

[class^="YitemDetails"] p {
    width: 100%;
    height: 2em;
    line-height: 2em;
}

[class^="YitemDetails"] p em {
    float: left;
    width: 6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[class^="YitemDetails"] .YdetailsOfItem p em:nth-of-type(2) {
    width: 70%;
}


/* 发布者 信息 */

[class^="YitemDetails"] .YdetailsOfUser {
    box-sizing: border-box;
    padding: 40px 0px;
    width: 40%;
    float: right;
}

[class^="YitemDetails"] .YdetailsOfUser img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

[class^="YitemDetails"] .YdetailsOfUser p {
    width: 100%;
    float: left;
    line-height: 1.5em;
    height: 1.5em;
    font-size: 0.8em;
}

[class^="YitemDetails"] .YdetailsOfUser p em:nth-of-type(1) {
    width: 5em;
    margin-right: 10px;
    text-align: right;
    font-size: 0.8em;
}

[class^="YitemDetails"] .YdetailsOfUser p em:nth-of-type(2) {
    width: 70%;
    font-size: 0.8em;
}


/* #endregion */


/* #region 发布信息 */

[class^="YreleaseInformation"] {
    /* padding: 50px 100px; */
    width: 100%;
    height: 300px;
}

[class^="YreleaseInformation"] p {
    width: 35%;
    float: left;
    padding: 40px 40px 40px 100px;
    height: 70px;
    line-height: 70px;
    margin-right: 50px;
}

[class^="YreleaseInformation"] p em {
    font-size: 30px;
}


/* #endregion */


/* #region 图片 */

[class^="YitemPicture"] {
    width: 100%;
    height: 500px;
}

[class^="YitemPicture"] img {
    width: 300px;
    height: 300px;
    margin: 20px 30px;
}


/* #endregion */


/* 70% */


/* @media(max-width:1960px) {
    [class^="YitemDetails"] .w {
        width: 1618px;
    }
    [class^="YitemPicture"] .w {
        width: 1618px;
    }
} */


/* 80% */


/* @media(max-width:1789px) {
    [class^="YitemDetails"] .w {
        width: 1470px;
    }
    [class^="YitemPicture"] .w {
        width: 1470px;
    }
} */


/* 90% */


/* @media(max-width:1549px) {
    [class^="YitemDetails"] .w {
        width: 1290px;
    }
    [class^="YitemPicture"] .w {
        width: 1290px;
    }
} */


/* 100% */


/* @media(max-width:1280px) {
    [class^="YitemDetails"] .w {
        width: 1158px;
    }
    [class^="YitemPicture"] .w {
        width: 1158px;
    }
    [class^="YitemDetails"] h2,
    [class^="YreleaseInformation"] h2,
    [class^="YitemPicture"] h2 {
        font-size: 25px;
        border-width: 2px;
    }
    [class^="YitemDetails"] .YdetailsOfItem {
        padding: 25px 37px;
    }
    [class^="YitemDetails"] p em {
        font-size: 18px;
    }
    [class^="YitemDetails"] .YdetailsOfUser img {
        width: 140px;
        height: 140px;
    }
    [class^="YitemDetails"] p {
        line-height: 100%;
        height: 60px;
    }
    [class^="YitemDetails"] .YdetailsOfUser {
        padding: 25px 0;
    }
    [class^="YitemPicture"] img {
        width: 400px;
        height: 400px;
    }
} */


/* #endregion */