.tipPane {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 100px;
    width: 380px;
    text-align: center;
    background-color: #868e96;
    border:1px solid #8e7f7f;
    opacity: 0.8;
    font-size: 30px;
    color: #dee2e6;
    font-family: "Microsoft YaHei", Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: ; */
    border-radius: 14px;
    z-index: 1000;
    font-weight: 500;
}
.tipPane_success{
  background-color: #97cf8d;
  opacity: 0.8;
  color:#feffde;
  border:1px solid #52734d
}
.tipPane_err{
  background-color:#f5c0c0;
  opacity: 0.8;
  color:#ec4646 ;
  border:1px solid #ec4646;
}

.tipPane_warn{
  background-color:#ffefa1;
  opacity: 0.8;
  color:#bd9354 ;
  border:1px solid #ffcb91;
}

/* 70% */
@media(max-width:1960px){
    .tipPane{
        font-size:26px;
        width: 350px;
        line-height: 90px;
    }

}
/* 80% */
@media(max-width:1789px){
    .tipPane{
        font-size:22px;
        width: 330px;
      
        line-height: 80px;
    }
}
/* 90% */
@media(max-width:1549px){
    .tipPane{
        font-size:18px;
        width: 260px;
        line-height: 70px;
    }
    
}
/* 100% */
@media(max-width:1280px){
    .tipPane{
        font-size:16px;
        width: 200px;
        line-height: 60px;
    }
}


